---
import Header from "../components/Header.astro";
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
---

<Base titre="Offres">
  <h1 class="m-10 text-4xl uppercase font-bold text-pink-700">Offres</h1>
  <p class="m-10">Vous trouverez ici les futurs offres que propose notre site</p>
</Base>
