---
const { ...offre } = Astro.props;
---

<div
  style="background-color: rgb(205, 208, 214); padding: 30px; border-radius: 5px; p-4; margin: 20px;"
>
  <h2 class="font-bold text-2xl">{offre.nomMaison}</h2>
  <a href={`/offres/${offre.id}`}>Voir plus</a>
</div>
