---
import IconFacebook from "../assets/IconFacebook.svg";
import IconInstagram from "../assets/IconInstagram.svg";
import IconTwitter from "../assets/IconTwitter.svg";
---

<nav class="bg bg-pink-200 w-full">
  <p>Mathilde Gatefait MMI 1 TP B2</p>
  <p>© 2021, Tous droits réservés</p>
  <div class="flex justify-center p-10 space-x-3">
    <IconFacebook />
    <IconInstagram />
    <IconTwitter />
  </div>
</nav>
