---
import { addOffre } from "../../backend.mjs";
import Base from "../../layouts/Base.astro";

let message = "";
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const response = await addOffre(formData);
  message = response.message;
}
---

<Base>
  <h1 class="text-xl p-5 text-blue-700 font-bold">Ajouter une offre</h1>
  <form
    class="m-5 max-w-lg mx-auto bg-white p-6 shadow-lg rounded-lg"
    action="/offres/add"
    method="POST"
    enctype="multipart/form-data"
  >
    <input
      type="text"
      name="nomMaison"
      placeholder="Nom de la maison"
      required
      class="w-full mt-2 p-2 border border-gray-300 rounded-md"
    />
    <input
      class="w-full mt-2 p-2 border border-gray-300 rounded-md"
      type="number"
      name="prix"
      placeholder="Prix"
    />
    <input
      class="w-full mt-2 p-2 border border-gray-300 rounded-md"
      type="number"
      name="nbSdb"
      placeholder="Nombre de salles de bain"
    />
    <input
      class="w-full mt-2 p-2 border border-gray-300 rounded-md"
      type="number"
      name="nbChambres"
      placeholder="Nombre de chambres"
    />
    <input
      class="w-full mt-2 p-2 border border-gray-300 rounded-md"
      type="number"
      name="surface"
      placeholder="Superficie"
    />
    <input
      class="w-full mt-2 p-2 border border-gray-300 rounded-md"
      type="text"
      name="adresse"
      placeholder="Adresse"
    />

    <input type="file" name="image" />
    <button
      <button
      class="px-4 py-2 bg-blue-700 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75"
      type="submit">Ajouter</button
    >
  </form>

  <p>{message}</p>
</Base>
